/* .dropdown:hover > .dropdown-menu {
  display: block;
} */

/* html {
  scroll-padding-top: 95px;
  } */

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin-top: 95px;
}

.navbar-nav li {
  padding: 0 7px;
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
}
.navbar {
  padding: 20px 0;
  background-color: white;
  /* padding: 0 !important; kada zelim da bude u okviru navbara  */
}
.navbar li a {
  color: #2d2d30 !important;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-nav li a:hover {
  color: #df5a25 !important;
}

.navbar-nav li a.active {
  color: #df5a25 !important;
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-nav .dropdown-menu a:hover,
.navbar-nav .dropdown-menu a:focus {
  padding-left: 30px;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  transition: 0.25s linear;
  background-color: white;
}
.dropdown-divider {
  display: none;
}
.btn-home {
  border-radius: 3px;
  border-color: transparent;
  background-color: white;
  padding: 8px 20px;
  color: rgb(231, 74, 12);
  /*ako stavim grid moram da fiksiram width na btn*/
  /* width: 180px;  */
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}
.btn-home:hover {
  background-color: lightgray;
}
.btn-home:focus,
.btn-home:active {
  outline: transparent;
}
.home_left {
  background-image: url('https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/top-left-bg.jpg');
  background-size: cover;
  background-position: center center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*ako koristim grid umesto flex*/
  /* display: grid;
  justify-content: center;
  align-content: center; */
}
.home_left h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  color: white;
}
.home_left h6 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.carousel-inner img {
  min-width: 100%;
  max-height: 700px;
  object-fit: cover;
}

.arrow {
  font-size: 50px;
  color: #df5a25;
}

.carousel-control-prev {
  width: 7%;
}

.carousel-control-next {
  width: 7%;
}

.about-us {
  padding-top: 100px;
  margin-top: 20px;
}

.about-us__h6,
.our-menu__h6 {
  color: #df5a25;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 45px;
}
/*kopirao sam iz inspecta*/
.about-us__h6::before,
.our-menu__h6::before {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 15px; /*pomerio sam u levo jer je padding parenta(about-us_left) 15px*/
  top: 9px;
  background-color: #fb5849;
}

.chefs__h6,
.klassy-week__h6 {
  color: #df5a25;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 0;
}

.about-us__h1,
.our-menu__h1,
.chefs__h1,
.klassy-week__h1 {
  font-weight: 900;
  font-size: 30px;
}

.about-us_left__images {
  text-align: center;
}

.about-us_left__images img {
  max-width: 160px;
  max-height: 160px;
  padding: 0 10px;
}

.our-menu {
  background-color: #fffafa;
  padding: 120px 0 80px 0;
  margin: 120px 0 0 0;
}

.our-menu__h1,
.chefs__h1,
.klassy-week__h1 {
  margin-bottom: 80px;
}

.klassy-week {
  text-align: center;
  background-color: white;
  padding-top: 120px;
}

.card {
  max-width: 100%;
  min-height: 400px;
  color: #f7f7f7;
  overflow: hidden;
  border: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card1 {
  background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-01.jpg);
}

.card2 {
  background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-02.jpg);
}

.card3 {
  background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-03.jpg);
}

.card4 {
  background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-04.jpg);
}

.card5 {
  background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-05.jpg);
}

.card6 {
  background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-03.jpg);
}

.price {
  position: relative;
  background-color: #fb5849;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.price h4 {
  margin-bottom: 0;
  font-weight: 900;
}

.info {
  position: absolute;
  top: 80%;
  padding: 30px;
  background-color: #fb5849;
}

.info h4 {
  margin-bottom: 20px;
}

.card .info a {
  text-decoration: none;
  color: #f7f7f7;
}

.card .info a:focus {
  outline: none;
}

.slider .slick-slide {
  margin: 15px;
}

.slider .slick-dots li.slick-active button:before {
  color: #fb5849;
}

.slider .slick-dots li button:before {
  color: #fb5849;
}

.card .info {
  /* transform: translateY(0);
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  transition: 0.3s linear; */
  animation: move-out-info 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.card:hover .info {
  /* transform: translateY(-116.391px);
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  transition: 0.3s linear; */
  animation: move-in-info 0.4s ease-in-out;
  animation-fill-mode: forwards;
}
.chefs {
  text-align: center;
  margin-top: 120px;
}

.chefs-card {
  width: 350px;
  border: solid #afafaf;
  border-width: 1px;
  border-radius: 5px;
  transition: all 0.5s;
}

.chefs-card .chefs-img {
  position: relative;
  padding: 5px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.chefs-card .chefs-overlay {
  position: absolute;
  margin: 5px;
  border-radius: 5px;
  background-color: #2a2a2a;
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: all 0.5s;
}

.chefs-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: all 0.5s;
}

.chefs-icons .btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: white;
  color: #2d2d30;
  margin: 0 5px;
  transition: all 0.5s;
}

.chefs-img img {
  width: 338px;
}

.chefs-info {
  padding: 20px 0;
}

.chefs-info h4 {
  font-weight: 700;
  transition: all 0.5s;
}

.chefs-info p {
  margin: 0;
}

.chefs-card:hover .chefs-icons {
  opacity: 1;
  visibility: visible;
}

.chefs-img .chefs-icons .btn:hover {
  background-color: #fb5849;
}

.chefs-card:hover {
  border-color: #fb5849;
}

.chefs-card:hover .chefs-info h4 {
  color: #fb5849;
}

.chefs-card:hover .chefs-overlay {
  visibility: visible;
  opacity: 0.9;
}

.contact-us__background {
  background-image: url('https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/reservation-bg.jpg');
  background-size: cover;
  background-position: center center;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 120px;
}

.contact-us__h6 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 45px;
}

.contact-us__h1 {
  font-weight: 900;
  color: white;
  font-size: 30px;
  margin: 20px 0;
}

.contact-us_left {
  align-self: center;
}

.contact-us_left p {
  color: white;
  margin-bottom: 65px;
}

.contact-us__h6::before {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 15px;
  top: 9px;
  background-color: white;
}

.contact-us_left__info {
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: center;
  margin: 30px 10px;
  padding-bottom: 20px;
}

.contact-us_left__info .fas {
  border-radius: 50%;
  font-size: 24px;
  height: 70px;
  width: 70px;
  background-color: #fb5849;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: -35px auto 10px auto;
}

.contact-us_left__info p {
  color: black;
  margin: auto;
}

.contact-us_left__info a {
  text-decoration: none;
  color: black;
}

.contact-us_left__info h4 {
  font-size: 20px;
  font-weight: 700;
}

.contact-us_right {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 45px 30px;
  margin-left: 30px;
}

.contact-us_right h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.fields {
  padding: 15px;
}

.fields textarea {
  resize: none;
}

.form-control:focus {
  border-color: #fb5849;
  box-shadow: none;
}

.form-control {
  padding: 3px 20px 0 20px;
  font-size: 14px;
}

.btn-form {
  width: 100%;
  padding: 12px 25px;
  border-radius: 3px;
  border-color: transparent;
  background-color: #fb5849;
  color: white;
  font-size: small;
  font-weight: bold;
}

.btn-form:hover {
  opacity: 0.9;
}

.nav-pills {
  justify-content: center;
  margin-bottom: 60px;
}

.nav-pills .nav-item {
  margin: 0 15px;
}

.nav-pills .nav-item .nav-link img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.nav-pills .nav-item .nav-link {
  color: #2a2a2a;
}

.nav-pills .nav-item a {
  padding: 0;
  text-align: center;
  font-weight: 700;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  color: #fb5849;
}

.meals {
  display: inline-flex;
  margin-bottom: 60px;
}

.meals img {
  border-radius: 5px;
}

.meals-info {
  margin-left: 20px;
  margin-right: -30px;
}

.meals-info h4 {
  font-weight: 700;
  font-size: 20px;
}

.meals-info p {
  font-size: 14px;
  margin-right: 60px;
}

.meals-price {
  position: relative;
  background-color: #fb5849;
  min-width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.meals span {
  margin-bottom: 0;
  font-weight: 900;
  color: white;
  font-size: 18px;
}

.background-footer {
  background-color: #fb5849;
  margin-top: 60px;
  padding: 50px 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .icons .btn {
  font-size: 20px;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: white;
  color: #fb5849;
  margin-left: 15px;
  transition: all 0.5s;
}

.footer .icons .btn:hover {
  color: #2a2a2a;
}

.footer .copyrights p {
  color: white;
  font-size: 14px;
}

@media (max-width: 1199px) {
  .about-us_left__images img {
    max-width: 129.984px !important;
    max-height: 129.984px !important;
  }

  .chefs-card {
    width: 290px;
  }

  .chefs-img img {
    width: 278px;
  }

  .contact-us_left__info {
    width: 210px;
  }

  .meals img {
    height: 100px;
  }
}

@media (max-width: 991px) {
  .home_left {
    padding: 25% 0 !important;
  }

  .about-us_left__images img {
    max-width: 100px !important;
    max-height: 100px !important;
  }

  .chefs-card {
    margin-bottom: 30px;
    width: 690px;
  }

  .chefs-img img {
    width: 678px;
  }

  .contact-us_right {
    margin: 10px;
  }

  .contact-us_left__info {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }

  .footer .icons {
    margin-bottom: 20px;
  }

  .footer .logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav li .dropdown-menu {
    display: block;
  }

  .navbar li a {
    text-align: center;
    background-color: #f7f7f7;
  }

  .navbar li a:hover {
    background-color: white;
  }

  .navbar-nav .dropdown-menu a:hover {
    padding-right: 30px;
  }

  .dropdown-divider {
    display: block;
    margin: 0;
  }

  .about-us_right {
    margin-top: 30px !important;
  }

  .chefs-card {
    width: 510px;
  }

  .chefs-img img {
    width: 498px;
  }
}

@media (max-width: 575px) {
  .chefs-card {
    width: 100%;
  }

  .chefs-img img {
    width: 100%;
  }
}

@keyframes move-in-info {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-116.391px);
  }
}

@keyframes move-out-info {
  0% {
    transform: translateY(-116.391px);
  }
  100% {
    transform: translateY(0);
  }
}
